#buttonInscrire {
  background-color: rgb(220, 47, 47);
  border-radius: 2px;
  text-align: center;

  font-size: 1.7em;

  color: white;
}
#formInscriptionContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  padding-top: 4%;
}

#containerLogoF {
  margin: 0% 5% 0% 5%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#buttonIdentity {
  background-color: rgb(220, 47, 47);
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  margin: auto;

  color: white;
}

.inscriptionTitle {
  text-align: center;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.85);
  padding: 1%;
}

.labelIncription {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  padding: 0% 2% 0% 2%;
  color: rgba(255, 255, 255, 0.85);
}
#containerInscription {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Images/background.jpeg");
  background-size: cover;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#rowform {
}
