#buttonInscrire {
  background-color: rgb(131, 4, 4);
  border-radius: 3px;
  text-align: center;
  font-size: 1.7em;
  color: white;
  width: 100%;
  margin: 15px 0 0 0;
  border: none;
  letter-spacing: 3px;
}
#formInscriptionContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 10px;
  padding-top: 5%;
  margin-top: 15%;
}
#inscriptionLogo {
  width: 16%;
}

#containerLogoF {
  padding-left: 3%;
  padding-top: 2%;
  margin: 0;

  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#buttonIdentity {
  background-color: rgb(220, 47, 47);
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

.inscriptionTitle {
  text-align: center;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.85);
  padding: 1%;
}

.labelIncription {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  padding: 0% 2% 0% 2%;
  color: rgba(255, 255, 255, 0.85);
}
#containerInscription {
  background: url("../LoginPage/ImagesB/bg33.jpg");
  background-size: cover;
  min-height: 140vh;
  font-family: Arial, Helvetica, sans-serif;
}

#rowForm {
  margin: 0;
}

.inputSubscribe {
  border-radius: 4px;
  opacity: 0.7;
  cursor: pointer;
}
