@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
  background: #040404;
}

.Categorie {
  color: rgb(236, 236, 236);
  padding-left: 53px;
  padding-top: 11px;
  padding-bottom: 5px;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.row {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
  height: 158px;
}

.LogoBocals {
  width: 55px;
  position: absolute;
  left: 1%;
  top: 1%;
}

.CardsEffect {
  transition: transform 0.2s ease-out 2ms; /* Animation */
  border: solid 2px rgb(31, 26, 26);
  outline: none;
}

.CardsEffect:hover {
  transform: scale(1.3);
  z-index: 1;
  border: solid 3px rgb(99, 3, 3);
  outline: none;
}
