body {
  background: #040404;
}

.Categorie {
  color: rgb(236, 236, 236);
  padding-left: 10px;
  padding-top: 11px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-family: serif;
}

.rowContentF {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  height: 158px;
}

.LogoBocals {
  width: 55px;
  position: absolute;
  left: 1%;
  top: 1%;
}

.CardsEffect {
  transition: transform 0.7s; /* Animation */
  border: 1px black;
}

.CardsEffect:hover {
  transform: scale(0.9);
}
