body {
  background: #1a1818;
}

.Categorie {
  color: #fff;
  padding-left: 8px;
  padding-top: 6px;
  letter-spacing: 2px;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}

.LogoBocals {
  width: 90px;
  position: absolute;
  left: 5%;
  top: 8%;
}

.CardsEffect {
  transition: transform 0.7s; /* Animation */
  border: 1px black;
}

.CardsEffect:hover {
  transform: scale(0.9);
}
