.slider {
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.horror {
  background-image: url("./carousel/ça.jpg");
}

.marvel {
  background-image: url("./carousel/marvel.jpg");
}

.starwars {
  background-image: url("./carousel/star-warsjpg.jpg");
}
