#footerContainer {
  background-color: rgb(10 10 10);
  color: white;
  font-family: "Poppins", sans-serif;
  height: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.copyright {
  text-align: center;
  color: #737373;
  font-weight: lighter;
}
